.app {
  height: 100vh;
  background: #e5e5e5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 32px;
  background: #5d91f8;
  color: white;
}

.transparent-bg {
  background: transparent;
  border: 1px solid white;
  color: white;
}

select {
  padding: 5px;
  border-radius: 8px;
}

.container {
  padding: 15px 75px;
}

.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.body-header .info {
  color: gray;
}

button {
  border-radius: 8px !important;
  padding: 10px 12px !important;
}

.button-primary {
  background: #5d91f8;
}

.div-table {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.table-item {
  align-items: center;
  background: white;
  padding: 8px 30px;
  border-radius: 5px;
  box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.71);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
}

.table-item :nth-child(1){
    grid-column: 1/2;
}
.table-item :nth-child(2){
    grid-column: 3/5;
}
.table-item :nth-child(3){
    grid-column: 6/8;
    text-transform: uppercase;
}
.table-item :nth-child(4){
    grid-column: 9/10;
    text-align: right;
}