.app {
  height: 100vh;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 32px;
  background: #5d91f8;
  color: white;
}

.transparent-bg {
  background: transparent;
  border: 1px solid white;
  color: white;
}

select {
  padding: 5px;
  border-radius: 8px;
}

.container {
  padding: 15px 75px;
}

.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.body-header .info {
  color: gray;
}

button {
  border-radius: 8px !important;
  padding: 10px 12px !important;
}

.button-primary {
  background: #5d91f8;
}

.div-table {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.table-header-docente {
  align-items: center;
  padding: 8px 30px;
  border-radius: 5px;
  box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.71);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #5d91f8;
  text-align: left;
  color: white;
}

.table-header-docente :nth-child(1) {
  grid-column: 1/2;
}
.table-header-docente :nth-child(2) {
  grid-column: 3/5;
}
.table-header-docente :nth-child(3) {
  grid-column: 6/8;
}
.table-header-docente :nth-child(4) {
  grid-column: 9/10;
}


.table-item-docente {
  align-items: center;
  background: white;
  padding: 8px 30px;
  border-radius: 5px;
  box-shadow: 5px 3px 15px -3px rgba(0, 0, 0, 0.71);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: left;
  cursor: pointer;
  margin: 10px 0px;
  height: 80px;
  background-color: #fff;
}

.table-item-docente :nth-child(1) {
  grid-column: 1/2;
}
.table-item-docente :nth-child(2) {
  grid-column: 3/5;
}
.table-item-docente :nth-child(3) {
  grid-column: 6/8;
  text-transform: uppercase;
}
.table-item-docente :nth-child(4) {
  grid-column: 9/10;
  text-align: right;
}

.actions-pop-up {
  position: absolute;
  right: 75px;
  top: 140px;
  background: white;
  width: 150px;
  box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.58);
  z-index: 10;
}

.action-item {
  padding: 5px 8px;
  transition: all 0.3s ease;
}

.action-item:hover {
  color: white;
  background: #5d91f8;
  cursor: default;
}

.logout{
  margin-left: 15px !important;
  cursor: pointer;
}