    body {
        margin: 0;
        padding: 0;
        background-color: #5D91F8;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #main-form {
        margin: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*Align- items es para centrar vertical*/
        justify-content: center;
        /*justify-content es para centrar vertical*/
    }
    
    h5 {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 40px;
        text-align: center;
    }
    
    .login-form {
        height: 300px;
        width: 500px;
        border-radius: 10px;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        gap: 15px;
    }
    
    .textfield {
        width: 400px;
        height: 54px;
        margin: auto;
        justify-content: center;
        border: solid;
        border-width: 0.5px;
        border-color: #BFBFBF;
        border-radius: 12px;
        font-size: 20px;
        padding: 0 10px;
    }
    
    .button {
        padding: 10px 30px;
        margin: auto;
        justify-content: center;
        width: 304px;
        height: 50px;
        border: none;
        background-color: #5D91F8;
        color: #FFFFFF;
        letter-spacing: 2px;
        font-weight: 300;
        border-radius: 27px;
        font-size: 24px;
    }
    /* 


*/